In [2]:
from sklearn.metrics.pairwise import euclidean_distances, manhattan_distances,cosine_distances

In [4]:
x=[[0,1],[1,1]]
y=[[1,2],[2,2]]

In [5]:
euclidean_distances(x,y)

array([[1.41421356, 2.23606798],
       [1.        , 1.41421356]])

In [10]:
euclidean_distances(x,x)

array([[0., 1.],
       [1., 0.]])

In [12]:
manhattan_distances(x,y)

array([[2., 3.],
       [1., 2.]])

In [8]:
manhattan_distances(x,x)

array([[0., 1.],
       [1., 0.]])

In [13]:
cosine_distances(x,y)

array([[1.05572809e-01, 2.92893219e-01],
       [5.13167019e-02, 2.22044605e-16]])

In [15]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/edyoda/ML-with-Rishi/main/Social_Network_Ads.csv")

In [16]:
df.to_csv("Social_Network_Ads.csv")

In [19]:
df=pd.read_csv("Social_Network_Ads.csv")
df.head()

   Unnamed: 0   User ID  Gender  Age  EstimatedSalary  Purchased
0           0  15624510    Male   19            19000          0
1           1  15810944    Male   35            20000          0
2           2  15668575  Female   26            43000          0
3           3  15603246  Female   27            57000          0
4           4  15804002    Male   19            76000          0